<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.deptmanager.quest.dao.QuestDao">
    
    <sql id="questColumns">
    		quest_no AS questNo,
    		quest_title AS questTitle,
    		quest_start AS questStart,
    		quest_end AS questEnd,
    		quest_content AS questContent,
    		quest_desc AS questDesc,
    		quest_to AS questTo
    </sql>
    
    <!-- 설문지 1건 저장 (등록)-->
	<insert id="insertQuest" parameterType="questBean">
	    INSERT INTO quest
 		(
			quest_title,
			quest_start,
			quest_end,
			quest_content,
			quest_desc,
			quest_to
 		)
		VALUES
 		(
 			#{questTitle}, 
 			#{questStart}, 
 			#{questEnd}, 
 			#{questContent}, 
 			#{questDesc},
 			#{questTo}
 		)
 		<selectKey order="AFTER" keyProperty="no" resultType="string">
	   		SELECT LAST_INSERT_ID()      
		</selectKey>
	</insert>
	
	<!-- 설문지 재등록 (수정) -->
	<update id="updateQuest" parameterType="questBean">
		UPDATE quest SET
			quest_title = #{questTitle}
			<if test="questStart != null and questStart != ''">
			,quest_start = #{questStart}
			</if>
			<if test="questEnd != null and questEnd != ''">
			,quest_end = #{questEnd}
			</if>
			<if test="questContent != null and questContent != ''">
			,quest_content = #{questContent}
			</if>
			<if test="questDesc != null and questDesc != ''">
			,quest_type = #{questDesc}
			</if>
		WHERE
			quest_no = #{questNo}
	</update>
	
	<!-- 설문지 삭제 -->
	<delete id="deleteQuest" parameterType="questBean">
	    DELETE FROM
	    		quest
	    WHERE
	    		quest_no = #{questNo}
	</delete>
	
	<!-- 설문지 1건 조회 -->
	<select id="selectQuest" resultType="questBean" parameterType="questBean">
	    SELECT
	    		<include refid="questColumns"/>
	    FROM
	    		quest
	    WHERE
  			quest_no = #{questNo}
	</select>
	
	<!-- [관리자] 설문지 List 최초 10건 조회 -->
	<select id="selectQuestList" resultType="questBean">
	    SELECT
	    		<include refid="questColumns"/>
		<![CDATA[
	    FROM
	    		quest
	    	order by quest_no desc
	    	limit 0, 10;
	    	]]>
	</select>
	
	<!-- [관리자] 설문지 List 조회 (무한 스크롤)-->
	<select id="selectQuestListScrollDown" resultType="questBean" parameterType="questBean">
	    SELECT
	    		<include refid="questColumns"/>
		<![CDATA[
	    FROM
	    		quest
	    	where quest_no < #{questNo} and quest_no >= #{questNo}-5
	    	order by quest_no desc
		]]>
	</select>
	
	<!-- [학생] 설문지 List 최초 10건 조회 -->
	<select id="selectQuestListStudent" resultType="questBean" parameterType="questBean">
	    SELECT
	    		<include refid="questColumns"/>,
	    		(
	    			SELECT questres_no 
	    			FROM questres 
	    			WHERE
	    				questres_quest IN (quest_no)
	    				AND
	    				questres.questres_member IN (#{questTo})
	    		)
	    		AS questIsRes
		<![CDATA[
	    FROM
	    		quest
	    	where quest_to like concat('%',#{questTo},'%')
	    	order by quest_no desc
	    	limit 0, 10;
	    	]]>
	</select>
	
	<!-- [학생] 설문지 List 조회 (무한 스크롤)-->
	<select id="selectQuestListStudentScrollDown" resultType="questBean" parameterType="questBean">
	    SELECT
	    		<include refid="questColumns"/>
		<![CDATA[
	    FROM
	    		quest
	    	where quest_no < #{questNo} and quest_to like concat('%',#{questTo},'%')
	    	order by quest_no desc
	    	limit 0, 5;
		]]>
	</select>
	
</mapper>