<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.deptmanager.schedule.dao.ScheduleDao">

    <sql id="scheduleColumns">
    	schedule_no AS scheduleNo,
    	schedule_notice AS scheduleNotice,
			schedule_title AS scheduleTitle,
			DATE_FORMAT(schedule_start, '%Y/%m/%d %H:%i') AS scheduleStart,
			DATE_FORMAT(schedule_end, '%Y/%m/%d %H:%i') AS scheduleEnd,
			schedule_type AS scheduleType,
			schedule_target AS scheduleTarget,
			schedule_desc AS scheduleDesc
    </sql>
    
    
    <!-- 일정 1건 저장 -->
	<insert id="insertSchedule" parameterType="scheduleBean">
	    INSERT INTO schedule
 		(
			schedule_notice,
			schedule_title,
			schedule_start,
			schedule_end,
			schedule_type,
			schedule_target,
			schedule_desc
 		)
		VALUES
 		(
 			#{scheduleNotice}, 
 			#{scheduleTitle}, 
 			#{scheduleStart}, 
 			#{scheduleEnd},
 			#{scheduleType},
 			#{scheduleTarget},
 			#{scheduleDesc}
 		)
 		<selectKey order="AFTER" keyProperty="scheduleNo" resultType="int">
	   		SELECT LAST_INSERT_ID()        
		</selectKey>
	</insert>
	
	<!-- 일정 1건 조회 -->
	<select id="selectSchedule" resultType="scheduleBean" parameterType="scheduleBean">
	    SELECT
	    		<include refid="scheduleColumns"/>
	    FROM
	    		schedule
	    WHERE
  			schedule_no = #{scheduleNo}
	</select>


	<!-- 회원정보 삭제 -->
	<delete id="deleteSchedule" parameterType="scheduleBean">
	    DELETE FROM
	    		schedule
	    WHERE
	    		schedule_no = #{scheduleNo}
	</delete>
	
	<!-- 회원정보 List 조회 -->
	<select id="selectScheduleList" resultType="scheduleBean" parameterType="scheduleBean">
	    SELECT
	    		<include refid="scheduleColumns"/>
	    FROM
	    		schedule
	    WHERE
	    
	    			1=1
	    			
	    		<if test="scheduleTarget != null">
	    		AND schedule_target = #{scheduleTarget}
	    		</if>
	    		
	    		<if test="scheduleType != null">
	    		AND schedule_type = #{scheduleType}
	    		</if>
	    		
	    			
	</select>
	
</mapper>